# vim:ft=fish
################################################################################
# Fish-specific configuration
################################################################################
# Enabled chezmoi profiles (see
# https://www.chezmoi.io/user-guide/templating/#template-syntax):
#
{{- if eq .profile "private" }}
# - Private
{{- else if eq .profile "corpmac" }}
# - Corp Mac
{{- else if eq .profile "corplinux" }}
# - Corp Linux
{{- end }}

# Disable standard greeting message
set fish_greeting ""


################################################################################
# Environment variables
################################################################################

# Always use UTF-8 for everything
set -x LC_ALL "en_US.UTF-8"

# Include user's personal bin directory in the path
test -d $HOME/bin && fish_add_path -p -P $HOME/bin

{{- if eq .profile "private" }}
# Use Neovim as default editor nowadays.
set -x EDITOR /usr/local/bin/nvim
{{- else if eq .profile "corplinux" }}
set -x EDITOR /usr/bin/nvim
{{- end }}

{{- if eq .profile "private" }}
# Environment variables required by GDK (Gitlab Development Kit)
set -x PKG_CONFIG_PATH "/usr/local/opt/icu4c/lib/pkgconfig:$PKG_CONFIG_PATH"
set -x RUBY_CONFIGURE_OPTS "--with-openssl-dir=/usr/local/opt/openssl@1.1 --with-readline-dir=/usr/local/opt/readline"

# Set up asdf
source /Users/marius/.asdf/asdf.fish
{{- end }}

################################################################################
# Aliases and Functions
################################################################################

# Make less behave properly with ansi codes
alias less='less -R'

{{- if eq .profile "private" }}
# One-command Homebrew update
alias brewup='brew update && brew upgrade && brew autoremove && brew cleanup -s && echo "All OK"'

# Push my private repo quickly to all remotes
alias gpp='git push && git push diskstation'
{{- end }}

# Note that .bashrc currently contains other aliases, but in practice I have
# found that I am not really using these, so I am not migrating them for now.

{{/* fzf is only available on my private MacBook and Google corp */}}
{{ if or (eq .profile "private") (eq .profile "corplinux") }}
# fzf settings: Use fd with bat for preview for both regular (calling `fzf`) and CTRL-T mode.
set -gx FZF_DEFAULT_COMMAND "fd --type file --type symlink --exclude '.git' --color=always"
set -gx FZF_DEFAULT_OPTS "--ansi"
set -gx FZF_CTRL_T_COMMAND "$FZF_DEFAULT_COMMAND"
set -gx FZF_CTRL_T_OPTS "--preview='bat --style=numbers --color=always {}'"
{{- end }}

{{/* Various aliases for corp linux only */}}
{{ if eq .profile "corplinux" }}
# Aliases for faster blaze usage
alias bb="blaze build"
alias ibb="iblaze build"
alias btt="blaze test"
alias ibtt="iblaze test"
alias bqb="blaze query --output=build"

# Aliases for faster Fig usage
alias x="hg xl"
alias ev="hg evolve"
alias co="hg co"
alias nx="hg next"
alias hgx="hg xl"
alias hgst="hg st"
alias hgc="hg commit"
alias hgca="hg commit --amend"
alias hga="hg amend"
alias hgaeu="hg amend && hg evolve && hg uc"
alias hgdi="hg diff"
{{ end }}
